<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <meta charset="utf8" />
    <title>Bass Brands | Industrial Overview</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container"></div>
    <div id="brandslist" class="bodybox">
        <ul class="nav nav-tabs">
            <li><a href="/"><h4>Bass Searcher</h4></a></li>
            <li class="active"><a href="/brands"><h4>Bass Brands</h4></a></li>
        </ul>
        <div class="smallbox">
            <br>
        <h1>Bass Brands Analysis</h1>
        <hr>
        <div class="row">
            <div class="col-lg-12 ">
                <h4>Brands by Countries</h4>
                <div class="chart" id="graph">
                    <script>
                        var graphs = {{plot | safe}};
                        Plotly.plot('graph',graphs,{});
                    </script>
                </div>
                <hr>
            </div>
            <div class="col-lg-12 ">
                <h4>Basses by Brands (for brands having more than 5 basses)</h4>
                <div class="chart" id="graph2">
                    <script>
                        var graphs2 = {{plot2 | safe}};
                        Plotly.plot('graph2',graphs2,{});
                    </script>
                </div>
                <hr>
            </div>
            <div class="col-lg-12 ">
                <h4>Basses by Price</h4>
                <div class="chart" id="graph3">
                    <script>
                        var graphs3 = {{plot3 | safe}};
                        Plotly.plot('graph3',graphs3,{});
                    </script>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>
</body>

</html>