.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(165deg, #e3f9ff93, #007694);
    position: fixed;
}

.bodybox{
    text-align: center;
    display: inline-block;
    width: 70%;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1%;
    background-color: #ffffff;
    box-shadow: 40px 30px 50px #00607960;
}

#mainpagesearching{
    top: 50%;
    transform: translate(-50%, -50%);
}

.search{
    width: 30%;
    font-size: 1.3em;
    border: 1px solid #9c9c9c;
    margin: 10px;
    border-radius: 10px;
    padding: 1%;
}

.advancedsearch{
    text-align: center;
    display: inline-block;
    width: 32%;
    border: 1px solid #9c9c9c;
    margin: 10px;
    border-radius: 10px;
}

.advancedsearch div{
    border-radius: 10px;
}

.resultsbox{
    padding: 30px;
}

.bassbox{
    background: #ececec;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.description{
    text-align: left;
    padding: 10px;
}

.bassimg{
    width: 200px;
    border: 1px solid #9c9c9c;
}